.ui.input>input {
    border: 1px solid #bb0000;
    color: #fafafa;
    background-color: rgba(0, 0, 0, 0.72);
}

 .search-input-container {
    width: 100%;
    height: 18rem;
    background-color: rgba(255, 255, 255, 0.05);
}

.ui.icon.input>i.icon {
    color: #fafafa;
}

.ui.input.focus>input, 
.ui.input>input:focus {
    background-color: rgba(0, 0, 0, 0.72);
    color: #fafafa;
}

.ui.action.input:not([class*="left action"])>input:focus {
    border-right-color: #bb0000;
  }