.ui.card, .ui.cards>.card {
    background: #fafafa;
}

.ui.red.button, .ui.red.buttons .button {
    color: #fafafa;
}

.search-list-container {
    padding: 4rem 1.5rem 1.5rem 1.5rem;
}

.header {
    margin: 1em 0 1em 0;
}

.date {
    font-weight: bolder;
}

.column,
.ui.stackable.grid>.column {
    margin-bottom: 3rem !important;
}
