<div class="search-bar-container">
    <searchInput (search)="handleSearch($event)"></searchInput>
    <div *ngIf="inputTouched && !videos.length" class="ui four wide column centered grid no-video-found-container">
        <div class="ui raised aligned segment red warning message">
            <i class="warning icon"></i>
            <span class="ui centered">No Video Found</span>
        </div>
    </div>
    <div *ngIf="loading" class="loader-container">
        <div class="ui active centered inline loader"></div>
    </div>
    <searchList *ngIf="!loading" [videos]="videos"></searchList>
</div>